.edu-container {
    border: 3px #9dcb5d solid;
    padding: 10px;
    position: absolute;
    background-color: #eeeed2;
    width: 1300px;
    height: 800px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {

}

.exit-button {
    display: flex;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.exit-button:hover {
    background-color: rgb(184, 10, 10);
}